<h1>New Blast</h1>

<%= form_for @blast do |f| %>

  <div id="name" class="form-entry">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div id="message" class="form-entry">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <h2>Send To</h2>

  <div id="list">
    <%= link_to @list.name, @list %>
    <%= f.hidden_field :list_id, value: @list.id %>
  </div>

  <%= f.submit %>
<% end %>