<%= form_for @event do |f| %>

  <div id="name" class="form-entry">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div id="keyword" class="form-entry">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>

  <div id="nationbuilder_tag" class="form-entry">
    <%= f.label :nationbuilder_tag %>
    <%= f.text_field :nationbuilder_tag %>
  </div>

  <div id="description" class="form-entry">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div id="autoresponse" class="form-entry">
    <%= f.label :autoresponse %>
    <%= f.text_area :autoresponse %>
  </div>

  <div id="start_date" class="form-entry">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div id="end_date" class="form-entry">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <%= f.submit %>
<% end %>
