<%= form_for @poll do |f| %>

  <div id="name" class="form-entry">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div id="description" class="form-entry">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div id="start_date" class="form-entry">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div id="end_date" class="form-entry">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="form-entry">
    <%= f.label :strategy %>
    <%= f.select :strategy, options_for_select(Poll::VOTING_STRATEGIES) %>
  </div>

  <%= f.submit %>
<% end %>
