<h1><%= @poll.name %></h1>

<p>
  <%= link_to 'Edit', edit_poll_path(@poll) %>
  <%= link_to 'Delete', @poll, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
<p><%= @poll.description %></p>
<p>Active from <%= @poll.start_date.to_formatted_s(:MON_DAY) %> until <%= @poll.end_date.to_formatted_s(:MON_DAY) %>.</p>

<h2>Poll Choices</h2>
<ul>
<% @poll.poll_choices.each do |poll_choice| %>
	<li><b><%= poll_choice.name %></b> <%= poll_choice.description %></li>
<% end %>
</ul>
<%= link_to 'Add a Choice', new_poll_poll_choice_path(@poll) %>


