<h1><%= @poll.name %></h1>
<%= @poll.description %>

<%= link_to 'Add a Choice', new_poll_poll_choice_path(@poll) %>
<p>
  <%= link_to 'Edit', edit_poll_path(@poll) %>
  <%= link_to 'Delete', @poll, method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'All Polls', polls_path %>
</p>
