<!DOCTYPE html>
<html>
  <head>
    <title>Surveyor</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <div class="nav-wrap">
        <a href="#" class="app-name">Surveyor</a>
        <%= link_to 'Polls', polls_path, class: "nav-item" %>
        <%= link_to 'Events', events_path, class: "nav-item" %>
        <%= link_to 'Listeners', listeners_path, class: 'nav-item' %>
        <%= link_to 'Citizens', citizens_path, class: "nav-item" %>
        <%= link_to 'Admins', users_path, class: "nav-item" %>

		<div id="user_info">
		  <ul class="list-inline">
        <!-- TODO: Display listening phone number -->
        <li>616-499-3901</li>
  		  <li><%= current_user.email %></li>
  		  <li><%=link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	     </ul>
		</div>
      </div>
    </nav>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div id="yield">
	    <%= yield %>
	</div>
  </body>
</html>

